//COLOR
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-dark-gray:#777;
$color-white:#fff;
$color-black:#000;
$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;
$color-gray-dark-2:#999;
$color-gray-dark-3:#333;
$color-secondary-light:#ffc760;
$color-secondary-dark:#ff5900;



$color-tertiary-light:rgb(52, 191, 255);
$color-tertiary-dark:rgb(118, 49, 255);


$color-box-shadow: rgba($color-black, 0.3);
//FONTSIZE


$default-font-size:1.6rem;
//GRID

$gutter-horizontal: 3rem;
$gutter-verical: 8rem;
$gutter-verical-small: 6rem;
$grid-with: 114rem;
$grid-width-small: 50rem;
